<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HLLSelectDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8486E9C81CB4ABE7008153B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8486E9E11CB4ABE8008153B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8486E9EC1CB4ABE8008153B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
